name: Jira Deployment (Org Repo)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set deployment status to success
        uses: chrnorm/deployment-status@releases/v1
        with:
          state: success
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          environment_url: "https://example.com/staging"
          token: ${{ github.token }}
